
<div class="row">
    <div class="col-12">
        <h1>Spicy Paper</h1>
        
        <h2>HE-Arc Numeric Algorithm 2018</h2>
        <ul>
            <li>
                <a href="./projects/fourmis/index.html">Fourmis project</a>
            </li>
        </ul>
        
        <h2>HE-Arc Infographie 2018</h2>
        <ul>
            <li>
                <a href="./projects/infographie/labo1/index.html">3D star project</a>
            </li>
            <li>
                <a href="./projects/infographie/labo2/index.html">Textured star</a>
            </li>
        </ul>
    </div>
</div>